services:
  db:
    container_name: mushroombet-db
    image: postgres:15-alpine
    # Expose the port to access it locally
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: activscanio
    volumes:
      - db-data:/var/lib/postgresql/data

  mushroombet-api:
    container_name: mushroombet-api
    build:
      context: .
    depends_on:
      - db
    env_file:
      - .env
    environment:
      # Inside Docker, use the service name 'db' as hostname
      DATABASE_URL: postgresql://postgres:secret@db:5432/activscanio
      NODE_ENV: development
    ports:
      - '3000:3000'

    # Local : we mount the local folder to the container to have live reload
    volumes:
      - .:/app
      - /app/node_modules

    # Local : override the command to start the server in dev mode
    command: npm run start:dev

volumes:
  db-data:
