services:
  db:
    container_name: activscanio-db
    image: postgres:15-alpine
    # Expose the port to access it locally
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data

  activscanio-api:
    container_name: activscanio-api
    build:
      context: .
    depends_on:
      - db
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      NODE_ENV: development
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      SEED: ${SEED}
    ports:
      - '3000:3000'

    # Local : we mount the local folder to the container to have live reload
    volumes:
      - .:/app

    # Local : override the command to start the server in dev mode
    command: npm run start:dev

volumes:
  db-data:
